{{ 'collections-list.css' | asset_url | stylesheet_tag }}

<section class="collections-list">
    <div class="collections-list__container">
      <div class="collections-list__wrapper">
        {% for block in section.blocks %}
          {% assign collection = block.settings.collection %}
          {% assign collection_image = block.settings.image_with_text_image | default: block.settings.collection %}

          <div class="collections-list__item{% if section.settings.text_position == "inside" %} collections-item-{{-section.settings.text_position-}} {% endif %}">
            <div class="collections-list__box-img collections-list__box-img--{{ section.settings.image_aspect_ratio }}">
              <a class="collections-list__link" href="{{ collection.url }}">
                <picture>
                  {% if collection_image %}
                    <source media="(max-width: 1023.98px)" srcset="{{ collection_image | image_url: width: 293 }} 1x, {{ collection_image | image_url: width: 586 }} 2x">
                    <img class="collections-list__img" src="{{ collection_image | image_url: width: 400 }}" alt="{{ collection.title }}">
                  {% else %}
                    <source media="(max-width: 1023.98px)" srcset="{{ 'def.png' | asset_img_url: '293x' }} 1x, {{ 'def.png' | asset_img_url: '586x' }} 2x">
                    <img class="collections-list__img" src="{{ 'def.png' | asset_img_url: '400x' }}" alt="{{ collection.title }}">
                  {% endif %}
                </picture>
              </a>
              <div class="collections-list__overlay" {% if section.settings.overlay_color %}style="background: {{ section.settings.overlay_color }}{% endif %}"></div>
            </div>
            <div class="collections-list__description collections-list-description">
              {% if section.settings.text_position == "under" %}
                <a href="{{ collection.url }}" class="collections-list-description__link">{{ collection.title }}</a>
              {% else %}
                <h4 class="collections-list-description__title" {% if section.settings.text_position == "inside" %}style="color: {{ section.settings.image_text_color }}"{% endif %}>{{ collection.title }}</h4>
              {% endif %}

              {% if section.settings.show_products_count %}
                <div class="collections-list-description__length" {% if section.settings.text_position == "inside" %}style="color: {{ section.settings.image_text_color }}"{% endif %}>{{ collection.products_count }} products</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

{% schema %}
    {
      "name": "Collections list",
      "settings": [
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "under",
              "label": "Under the impage"
            },
            {
              "value": "inside",
              "label": "Inside the image"
            }
          ],
          "default": "under"
        },
        {
          "type": "select",
          "id": "image_aspect_ratio",
          "label": "Image aspect ratio",
          "options": [
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "landscape",
              "label": "Landscape"
            }
          ],
          "default": "square"
        },
        {
          "type": "checkbox",
          "id": "show_products_count",
          "label": "Show products count",
          "default": true
        },
        {
          "type": "color",
          "id": "image_text_color",
          "label": "Image text color",
          "default": "#000000"
        },
        {
          "type": "color_background",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%)"
        }
      ],
      "blocks": [
        {
          "name": "Collection",
          "type": "collection",
          "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
            {
              "type": "image_picker",
              "id": "image_with_text_image",
              "label": "Image"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Collections list"
        }
      ]
    }
{% endschema %}