{{ 'customer-reviews.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="{{ 'customer-reviews.js' | asset_url }}"></script>

<section class="customer-reviews" id="{{ section.id }}">
    <div class="customer-reviews__container">
        <div class="customer-reviews__content swiper js-customer-reviews-slider">
            <div class="customer-reviews__wrapper swiper-wrapper">

                {%- for block in section.blocks -%}
                    {% assign product = block.settings.product %}
                    {% assign image = product.featured_image %}
                    {% assign authorImage = block.settings.image_author %}
                    {% assign authorName = block.settings.name_author %}
                    {% assign authorRole = block.settings.role_author %}

                    {% if product != empty %}
                        <div class="customer-reviews__item swiper-slide">
                            <div class="customer-reviews__product">
                                <a href="{{ product.url }}" class="customer-reviews__product-box-img">
                                    <picture>

                                        {%- if image -%}
                                            <img src="{{ image | image_url: width: 376 }}" srcset="{{ image | image_url: width: 376 }} 1x, {{ image | image_url: width: 752 }} 2x" alt="{{ image.alt }}" class="customer-reviews__product-img">
                                        {%- else -%}
                                            {{ 'image' | placeholder_svg_tag }}
                                        {%- endif -%}

                                    </picture>
                                </a>
                                <div class="customer-reviews__product-description">
                                    <a href="{{ product.url }}" class="customer-reviews__product-name">{{ product.title }}</a>
                                    <div class="customer-reviews__product-prices">
                                        <div class="customer-reviews__price">{{ product.price | money }}</div>

                                        {%- if product.compare_at_price -%}
                                            <div class="customer-reviews__price-old">{{ product.compare_at_price | money }}</div>
                                        {%- endif -%}

                                    </div>
                                </div>
                            </div>
                            <div class="customer-reviews__box-info">
                                <div class="customer-reviews__rating">
                                    <img src="{{ 'rating.svg' | asset_url }}" alt="Icon rating" class="customer-reviews__icon-rating">
                                </div>

                                {%- if block.settings.paragraph -%}
                                    <div class="customer-reviews__text">{{ block.settings.paragraph }}</div>
                                {%- endif -%}

                                <div class="customer-reviews__author">

                                    {%- if authorImage -%}
                                        <div class="customer-reviews__author-box-img">
                                            <img src="{{ authorImage | image_url: width: 48 }}" alt="{{ authorImage.alt }}" class="customer-reviews__author-img">
                                        </div>
                                    {%- endif -%}

                                    {%- if authorName or authorRole -%}
                                        <div class="customer-reviews__author-info">

                                            {%- if authorName -%}
                                                <div class="customer-reviews__author-name">{{ authorName }}</div>
                                            {%- endif -%}
                                            {%- if authorRole -%}
                                                <div class="customer-reviews__author-role">{{ authorRole }}</div>
                                            {%- endif -%}

                                        </div>
                                    {%- endif -%}

                                </div>
                            </div>
                        </div>
                    {% endif %}
                {%- endfor -%}

            </div>
            <div class="customer-reviews__swiper-pagination swiper-pagination"></div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Customer reviews",
    "settings": [],
    "blocks": [
      {
        "name": "Review",
        "type": "review",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image_author",
            "label": "Image author"
          },
          {
            "type": "text",
            "id": "name_author",
            "label": "Name author",
            "default": "Stacey Reed"
          },
          {
            "type": "text",
            "id": "role_author",
            "label": "Role author",
            "default": "Project Manager, Tourism Australia"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer reviews"
      }
    ]
  }
{% endschema %}