{{ 'featured-blog-1.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

{% assign blog = section.settings.blog %}
{% assign postImage = section.settings.image_with_text_image %}

<script src="{{ 'featured-blog-1.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

<section class="featured-blog">
    <div class="featured-blog__container swiper">
        <div class="featured-blog__wrapper swiper-wrapper">
            {% for article in blog.articles limit: 3 %}
                <div class="featured-blog__item swiper-slide">
                    <div class="featured-blog__box-img">
                        <a class="featured-blog__link" href="{{ article.url }}">
                            <picture>
                                {% if article.image %}
                                    <img class="featured-blog__img" src="{{ article.image | image_url: width: 539 }}" alt="{{ article.title }}">
                                {% elsif postImage %}
                                    <img class="featured-blog__img" src="{{ postImage | image_url: width: 539 }}" alt="{{ article.title }}">
                                {% else %}
                                    <img class="featured-blog__img" src="{{ "blog-post-def.png" | asset_img_url: "539x" }}" alt="{{ article.title }}">
                                {% endif %}
                            </picture>
                        </a>
                    </div>
                    <div class="featured-blog__content">
                        <div class="featured-blog__header">
                            {% if article.tags.size > 0 %}
                                <div class="featured-blog__tags">
                                    {% comment %} "for" used for practice, I also found that to display the first tag, you can use the "first". {% endcomment %}
                                    {% for tag in article.tags %}
                                        {% if forloop.first %}
                                            <span class="featured-blog__tags-item">{{ tag }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {%endif%}

                            <div class="featured-blog__date">
                                <img class="featured-blog__icon" src="{{ "clock.png" | asset_img_url: "16x16" }}" alt="Icon">
                                <span>{{ article.published_at | date: '%B %d, %Y' }}</span>
                            </div>
                            <div class="featured-blog__comments">
                                <img class="featured-blog__icon" src="{{ "Message.png" | asset_img_url: "16x16" }}" alt="Icon">
                                <span>{{ article.comments_count }}</span>
                            </div>
                        </div>
                        <h5 class="featured-blog__title">{{ article.title }}</h5>
                        <div class="featured-blog__description">{{ article.excerpt_or_content }}</div>
                        <div class="featured-blog__footer featured-blog-footer">
                            <div class="featured-blog-footer__links">
                                <a class="featured-blog-footer__link" href="{{ article.url }}">Read More</a>
                            </div>
                            <div class="featured-blog-footer__author featured-blog-author">
                                <div class="featured-blog-author__box-photo">
                                    <img class="featured-blog-author__photo" src="{{ article.metafields.custom.article_author_photo | image_url: width: 32, height: 32 }}" alt="{{ article.author }}">
                                </div>
                                <div class="featured-blog-author__name">
                                    {{ article.author }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="featured-blog__swiper-pagination swiper-pagination"></div>
    </div>
</section>

{% schema %}
    {
        "name": "Featured blog 1",
        "settings": [
            {
              "type": "blog",
              "id": "blog",
              "label": "Blog"
            },
            {
              "type": "image_picker",
              "id": "image_with_text_image",
              "label": "Image"
            }
        ],
        "presets": [
            {
                "name": "Featured blog 1"
            }
        ]
    }
{% endschema %}