{{ 'image-gallery.css' | asset_url | stylesheet_tag }}

{% assign tabel_2_row_1x = 476 %}
{% assign tabel_2_row_2x = tabel_2_row_1x | times: 2 %}
{% assign min_tabel_2_row_1x = 364 %}
{% assign min_tabel_2_row_2x = min_tabel_2_row_1x | times: 2 %}
{% assign phone_2_row_1x = 190 %}
{% assign phone_2_row_2x = phone_2_row_1x | times: 2 %}

{% assign tabel_1_row_1x = 959 %}
{% assign tabel_1_row_2x = tabel_1_row_1x | times: 2 %}
{% assign min_tabel_1_row_1x = 734 %}
{% assign min_tabel_1_row_2x = min_tabel_2_row_1x | times: 2 %}
{% assign phone_1_row_1x = 388 %}
{% assign phone_1_row_2x = phone_2_row_2x | times: 2 %}

{% assign decstop_row_6 = 266 %}
{% assign decstop_row_4 = 408 %}
{% assign decstop_row_2 = 832 %}

<section class="image-gallery">
    <div class="image-gallery__container">
        <div class="image-gallery__wrapper">
            {% for block in section.blocks %}
                {% assign image = block.settings.image %}
                {% assign image_default = 'blog-post-def.png' %}
                {% assign row_desktop = section.settings.cards_row_desktop %}
                {% assign row_mob = section.settings.cards_row_mobile %}

                <div class="image-gallery__item image-gallery__row-desktop--{{ row_desktop }} image-gallery__row-mob--{{ row_mob }}{% if section.settings.image_aspect_ratio == 'landscape' %} image-gallery__item--landscape{% endif %}" >
                    <picture>
                        {% if image %}
                          {% if row_mob == "2" %}
                            <source media="(max-width: 991.98px)" srcset="{{ image | image_url: width: tabel_2_row_1x }} 1x, {{ image | image_url: width: tabel_2_row_2x }} 2x" >
                            <source media="(max-width: 767.98px)" srcset="{{ image | image_url: width: min_tabel_2_row_1x }} 1x, {{ image | image_url: width: min_tabel_2_row_2x }} 2x" >
                            <source media="(max-width: 420.98px)" srcset="{{ image | image_url: width: phone_2_row_1x }} 1x, {{ image | image_url: width: phone_2_row_2x }} 2x" >
                          {% else %}
                            <source media="(max-width: 991.98px)" srcset="{{ image | image_url: width: tabel_1_row_1x }} 1x, {{ image | image_url: width: tabel_1_row_2x }} 2x" >
                            <source media="(max-width: 767.98px)" srcset="{{ image | image_url: width: min_tabel_1_row_1x }} 1x, {{ image | image_url: width: min_tabel_1_row_2x }} 2x" >
                            <source media="(max-width: 420.98px)" srcset="{{ image | image_url: width: phone_1_row_1x }} 1x, {{ image | image_url: width: phone_1_row_2x }} 2x" >
                          {% endif %}

                          {% if row_desktop == "6" %}
                            <img class="image-gallery__image" src="{{ image | image_url: width: decstop_row_6 }}" alt="{% if image %}{{ image.alt }}{% else %} Image {% endif %}">
                          {% elsif row_desktop == "4" %}
                            <img class="image-gallery__image" src="{{ image | image_url: width: decstop_row_4 }}" alt="{% if image %}{{ image.alt }}{% else %} Image {% endif %}">
                          {% else %}
                            <img class="image-gallery__image" src="{{ image | image_url: width: decstop_row_2 }}" alt="{% if image %}{{ image.alt }}{% else %} Image {% endif %}">
                          {% endif %}
                        {% else %}
                          {% if row_mob == "2" %}
                            <source media="(max-width: 991.98px)" srcset="{{ image_default | asset_img_url: tabel_2_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: tabel_2_row_2x | append: 'x' }} 2x" >
                            <source media="(max-width: 767.98px)" srcset="{{ image_default | asset_img_url: min_tabel_2_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: min_tabel_2_row_2x | append: 'x' }} 2x" >
                            <source media="(max-width: 420.98px)" srcset="{{ image_default | asset_img_url: phone_2_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: phone_2_row_2x | append: 'x' }} 2x" >
                          {% else %}
                            <source media="(max-width: 991.98px)" srcset="{{ image_default | asset_img_url: tabe_1_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: phone_1_row_2x | append: 'x' }} 2x" >
                            <source media="(max-width: 767.98px)" srcset="{{ image_default | asset_img_url: min_tabel_1_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: phone_1_row_2x | append: 'x' }} 2x" >
                            <source media="(max-width: 420.98px)" srcset="{{ image_default | asset_img_url: phone_1_row_1x | append: 'x' }} 1x, {{ image_default | asset_img_url: phone_1_row_2x | append: 'x' }} 2x" >
                          {% endif %}

                          {% if row_desktop == "6" %}
                            <img class="image-gallery__image" src="{{ image_default | asset_img_url: decstop_row_6 | append: 'x' }}" alt="Image Default">
                          {% elsif row_desktop == "4" %}
                            <img class="image-gallery__image" src="{{ image_default | asset_img_url: decstop_row_4 | append: 'x' }}" alt="Image Default">
                          {% else %}
                            <img class="image-gallery__image" src="{{ image_default | asset_img_url: decstop_row_2 | append: 'x' }}" alt="Image Default">
                          {% endif %}
                        {% endif %}
                    </picture>
                  <div class="image-gallery__overlay" {% if section.settings.overlay_color %}style="background: {{ section.settings.overlay_color }}"{% endif %}></div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Image gallery",
  "settings": [
    {
      "type": "select",
      "id": "cards_row_desktop",
      "label": "Cards per row desktop",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "6"
    },
    {
      "type": "select",
      "id": "cards_row_mobile",
      "label": "Cards per row mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image aspect ratio",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ]
    },
    {
      "type": "color_background",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "linear-gradient(180deg, rgba(245, 245, 245, 0) 100%, rgba(0, 0, 0, 1) 100%)"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery"
    }
  ]
}
{% endschema %}