{{ 'out-team.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'out-team.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

{% assign card = section.blocks.settings %}
{% assign indexItem = 1 %}
{% assign indexPopup = 1 %}

<section class="out-team aut-team-{{ section.id }}">
    <div class="out-team__container swiper">
        <div class="out-team__wrapper swiper-wrapper">
            {% for block in section.blocks %}
                {% assign image = block.settings.card_image %}
                {% assign image_defaoult = 'blog-post-def.png' %}

                <div class="out-team__card swiper-slide">
                    <div class="out-team__box-photo">
                        <picture>
                            {% if block.settings.card_image %}
                                <source media="(max-width: 575.98px)" srcset="{{ image | image_url: width: 543 }} 1x, {{ image | image_url: width: 1086 }} 2x">
                                <source media="(max-width: 1023.98px)" srcset="{{ image | image_url: width: 668 }} 1x, {{ image | image_url: width: 1336 }} 2x">
                                <img src="{{ image | image_url: width: 400 }}" alt="{{ block.settings.name }}" class="out-team__photo">
                            {% else %}
                                <source media="(max-width: 575.98px)" srcset="{{ image_defaoult | asset_img_url: '543x' }} 1x, {{ image_defaoult | asset_img_url: '1086x' }} 2x">
                                <source media="(max-width: 1023.98px)" srcset="{{ image_defaoult | asset_img_url: '668x' }} 1x, {{ image_defaoult | asset_img_url: '1336x' }} 2x">
                                <img src="{{ image_defaoult | asset_img_url: '400x' }}" alt="{{ block.settings.name }}" class="out-team__photo">
                            {% endif %}
                        </picture>
                    </div>
                    <div class="out-team-social">
                        <div class="out-team-social__item social">
                            <a href="https://uk-ua.facebook.com/" target="_blank" class="out-team-social__link social-link">
                                <img class="out-team-social__image" src="{{ 'facebook.svg' | asset_url }}" alt="Icon">
                            </a>
                        </div>
                        <div class="out-team-social__item social">
                            <a href="https://www.instagram.com/" target="_blank" class="out-team-social__link social-link">
                                <img class="out-team-social__image" src="{{ 'instagram.svg' | asset_url }}" alt="Icon">
                            </a>
                        </div>
                    </div>
                    <div class="out-team__info">
                        <div class="out-team__name">{{ block.settings.name }}</div>
                        <div class="out-team__role">{{ block.settings.role }}</div>
                        <button class="out-team__btn-popup _popup-btn" data-id="card-team-{{ indexItem }}">{{ section.settings.btn_popup }}</button>
                    </div>
                </div>

                {% assign indexItem = indexItem | plus: 1 %}
            {% endfor %}
        </div>
        <div class="out-team__swiper-pagination swiper-pagination"></div>
    </div>
</section>

{% for block in section.blocks %}
    {% assign image_popup_defoult = block.settings.popup_image | default: block.settings.card_image %}
    {% assign image_popup_default = 'blog-post-def.png' %}

    <div class="popup-shadow" >
        <div class="popup-team" id="card-team-{{ indexPopup }}">
            <button class="popup-team__close _popup-btn">&#10005;</button>
            <div class="popup-team__content">
                <div class="popup-team__box-image">
                    <picture>
                        {% if image_popup_defoult %}
                            <source media="(max-width: 1023.98px)" srcset="{{ image_popup_defoult | image_url: width: 700, height: 730 }} 1x, {{ block.settings.popup_image | image_url: width: 1400, height: 1460 }} 2x">
                            <source media="(max-width: 767.98px)" srcset="{{ image_popup_defoult | image_url: width: 700, height: 703 }} 1x, {{ block.settings.popup_image | image_url: width: 1400, height: 1406 }} 2x">
                            <img src="{{ image_popup_defoult | image_url: width: 505, height: 505 }}" alt="{{ block.settings.name }}" class="popup-team__image">
                        {% else %}
                            <source media="(max-width: 1023.98px)" srcset="{{ image_popup_default | asset_img_url: '700x730' }} 1x, {{ image_popup_default | asset_img_url: '1400x1460' }} 2x">
                            <source media="(max-width: 767.98px)" srcset="{{ image_popup_default | asset_img_url: '700x703' }} 1x, {{ image_popup_default | asset_img_url: '1400x1406' }} 1x">
                            <img src="{{ image_popup_default | asset_img_url: '505x505' }}" alt="{{ block.settings.name }}" class="popup-team__image">
                        {% endif %}
                    </picture>

                </div>
                <div class="popup-team__box-text popup-text">
                    <h5 class="popup-text__name">{{ block.settings.name }}</h5>
                    <div class="popup-text__role">{{ block.settings.role }}</div>
                    <div class="popup-text__description">{{ block.settings.description }}</div>
                    <ul class="popup-text__socials">
                        <li class="popup-text__item social">
                            <a href="https://uk-ua.facebook.com/" target="_blank" class="popup-text__link social-link">
                                <img src="{{ 'facebook.svg' | asset_url }}" alt="Icon" class="popup-text__image">
                            </a>
                        </li>
                        <li class="popup-text__item social">
                            <a href="https://www.instagram.com/" target="_blank" class="popup-text__link social-link">
                                <img src="{{ 'instagram.svg' | asset_url }}" alt="Icon" class="popup-text__image">
                            </a>
                        </li>
                        <li class="popup-text__item social">
                            <a href="https://www.youtube.com/" target="_blank" class="popup-text__link social-link">
                                <img src="{{ 'youtube.svg' | asset_url }}" alt="Icon" class="popup-text__image">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% assign indexPopup = indexPopup | plus: 1 %}
{% endfor %}

{% schema %}
    {
      "name": "Out team",
      "settings": [
        {
          "type": "text",
          "id": "btn_popup",
          "label": "Btn popup",
          "default": "Read more label"
        }
      ],
      "blocks": [
        {
          "name": "Team card",
          "type": "team-card",
          "settings": [
            {
              "type": "image_picker",
              "id": "card_image",
              "label": "Card image"
            },
            {
              "type": "image_picker",
              "id": "popup_image",
              "label": "Popup image"
            },
            {
              "type": "text",
              "id": "name",
              "label": "Name",
              "default": "Quick links"
            },
            {
              "type": "text",
              "id": "role",
              "label": "Role",
              "default": "Co-founder & CEO"
            },
            {
              "type": "richtext",
              "id": "description",
              "label": "Description"
            }
          ]
        }
      ],
      "presets": [
          {
            "name": "Out team"
          }
      ]
    }

{% endschema %}