{{ 'page-faq.css' | asset_url | stylesheet_tag }}

<script src="{{ 'page-faq.js' | asset_url }}"></script>

{% assign title = section.settings.heading %}

<section class="page-faq" id="{{ section.id }}">
    <div class="page-faq__container">
      <h2 class="page-faq__title">{% if title != blank %}{{ title }}{% else %}Frequently Asked Questions{% endif %}</h2>
        <div class="page-faq__wrapper">
          <div class="page-faq__group">
            <div class="page-faq__group-wrap">

              {% for block in section.blocks %}
                {% if block.type == 'group' %}
                  <div class="page-faq__group-item">
                    <a href="#group-anchors-{{ forloop.index }}" class="page-faq__group-anchors js-btn-anchor {% if forloop.first %}_active{% endif %}">{{ block.settings.group_heading }}</a>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
          <div class="page-faq__questions">
            {% for block in section.blocks %}
              {% assign icon = block.settings.icon %}

              {% if block.type == 'group' %}
                <h4 class="page-faq__questions-title" id="group-anchors-{{ forloop.index }}">{{ block.settings.group_heading }}</h4>
              {% elsif block.type == 'question' %}
                <div class="page-faq__questions-wrapper">
                  <div class="page-faq__accordion js-accordions">
                    <button class="page-faq__accordion-box-btn js-accordions-header">

                      {% if icon %}
                        <img class="page-faq__accordion-icon" src="{{ icon | image_url: width: 24 }}" alt="{{ icon.alt }}">
                      {% endif %}
                      <span class="page-faq__accordion-btn">
                        {{ block.settings.question_heading }}
                      </span>
                    </button>
                    <div class="page-faq__accordion-content js-accordions-content">{{ block.settings.answer }}</div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Page faq",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Frequently Asked Questions"
        }
      ],
      "blocks": [
        {
          "name": "Group",
          "type": "group",
          "settings": [
            {
              "type": "text",
              "id": "group_heading",
              "label": "Heading",
              "default": "Quick links"
            }
          ]
        },
        {
          "name": "Question",
          "type": "question",
          "settings": [
            {
              "type": "text",
              "id": "question_heading",
              "label": "Heading",
              "default": "Quick links"
            },
            {
              "type": "richtext",
              "id": "answer",
              "label": "Answer"
            },
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Icon"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Page faq"
        }
      ]
    }
{% endschema %}