{{ 'predictive-search-1.css' | asset_url | stylesheet_tag }}

<script src="{{ 'predictive-search-1.js' | asset_url }}" defer="defer"></script>

<div class="predictive-search1 js-shadow js-close">
    <div class="predictive-search1__content js-search-content">
        <div class="predictive-search1__header">
            <div class="predictive-search1__header-title">Search</div>
            <button class="predictive-search1__btn-close js-close">
                <img src="{{ 'X.svg' | asset_url }}" alt="Predictive search close" class="predictive-search__btn-icon">
            </button>
        </div>
        <div class="predictive-search1__box-form">

            <predictive-search class="predictive-search1__form-inner">
                <form class="predictive-search1__form" action="{{ routes.search_url }}" method="get" role="search">
                    <input
                            id="predictive-search1-input"
                            class="predictive-search1__form-input"
                            type="search"
                            name="q"
                            value="{{ search.terms | escape }}"
                            role="combobox"
                            aria-expanded="false"
                            aria-owns="predictive-search-results"
                            aria-controls="predictive-search-results"
                            aria-haspopup="listbox"
                            aria-autocomplete="list"
                            placeholder="Search"
                    >
                    <input name="options[prefix]" type="hidden" value="last">
                    <div id="predictive-search" tabindex="-1"></div>
                    <button class="predictive-search1__form-submit" type="submit">
                        <img class="predictive-search1__form-submit-icon" src="{{ 'search.svg' | asset_url }}" alt="Icon Search">
                    </button>
                </form>
                <div class="predictive-search1__box-results">
                    <div class="predictive-search1__results-preloader">
                        <svg aria-hidden="true" focusable="false" class="predictive-search1__results-spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                    </div>
                    <div class="predictive-search1__results-inner js-tabs-result">

                        {%- if predictive_search.performed -%}
                            {% assign products_object = predictive_search.resources.products %}
                            {% assign articles_object = predictive_search.resources.articles %}
                            {% assign pages_object = predictive_search.resources.pages %}

                            {% if predictive_search.resources.products.size <= 0 and predictive_search.resources.pages.size <= 0 %}
                                <p class="predictive-search1__no-result">No results found</p>
                            {% else %}
                                <div class="predictive-search1__results-header js-tabs-header">
                                    <button class="predictive-search1__results-header-btn js-tabs-btn tab-active{% if products_object.size <= 0 or products_object == blank %} no-result{% endif %}" data-index-tab="1">Products</button>
                                    <button class="predictive-search1__results-header-btn js-tabs-btn{% if articles_object.size <= 0 or articles_object == blank %} no-result{% endif %}" data-index-tab="2">Articles</button>
                                    <button class="predictive-search1__results-header-btn js-tabs-btn{% if pages_object.size <= 0 or pages_object == blank %} no-result{% endif %}" data-index-tab="3">Pages</button>
                                </div>
                            {% endif %}

                            {%- if products_object.size > 0 -%}
                                <div class="predictive-search1__results-body js-tabs-body js-tabs-body--1">
                                    <ul class="predictive-search1__results-list" role="listbox" aria-labelledby="predictive-search1-products">

                                        {%- for product in products_object -%}
                                            {% assign image = product.featured_image %}
                                            {% assign price_old = product.compare_at_price %}

                                            <li class="predictive-search1__results-item" role="option">
                                                <div class="predictive-search1__results-box-image">
                                                    <a class="predictive-search1__results-link" href="{{ product.url }}">

                                                        {% if image %}
                                                            <img class="predictive-search1__results-image" src="{{ image | image_url: width: 120 }}" alt="{{ image.alt }}">
                                                        {% else %}
                                                            <img class="predictive-search1__results-image" src="{{ 'def.png' | asset_img_url: '120x' }}" alt="{{ image.alt }}">
                                                        {% endif %}

                                                    </a>
                                                </div>
                                                <div class="predictive-search1__results-description">
                                                    <a class="predictive-search1__results-body-title" href="{{ product.url }}">{{ product.title }}</a>
                                                    <div class="predictive-search1__results-box-prices">
                                                        <div class="predictive-search1__results-price {% if price_old %}new{% endif %}">{{ product.price | money }}</div>

                                                        {%- if price_old -%}
                                                            <div class="predictive-search1__results-price-old">{{- price_old | money -}}</div>
                                                        {%- endif -%}

                                                    </div>
                                                </div>
                                            </li>
                                        {%- endfor -%}

                                    </ul>
                                </div>
                            {%- elsif products_object.size <= 0 or products_object == blank -%}
                                <div class="predictive-search1__results-body js-tabs-body js-tabs-body--1">
                                    <p class="predictive-search1__no-result">No results found</p>
                                </div>
                            {%- endif -%}

                            {%- if articles_object.size <= 0 or articles_object == blank -%}
                                <div class="predictive-search1__results-body js-tabs-body js-tabs-body--2">
                                    <p class="predictive-search1__no-result">No results found</p>
                                </div>
                            {%- endif -%}

                            {%- if pages_object.size > 0 -%}
                                <div class="predictive-search1__results-body js-tabs-body js-tabs-body--3">
                                    <ul class="predictive-search1__results-list" role="listbox" aria-labelledby="predictive-search1-products">

                                        {%- for page in pages_object -%}
                                            <li class="predictive-search1__results-item" role="option">
                                                <a class="predictive-search1__results-body-title" href="{{ page.url }}">{{ page.title }}</a>
                                            </li>
                                        {%- endfor -%}

                                    </ul>
                                </div>
                            {%- elsif pages_object.size <= 0 or pages_object == blank -%}
                                <div class="predictive-search1__results-body js-tabs-body js-tabs-body--3">
                                    <p class="predictive-search1__no-result">No results found</p>
                                </div>
                            {%- endif -%}

                            <div class="predictive-search1__results-footer">
                                <a class="predictive-search1__results-footer-link" href="{{ routes.search_url }}?q={{ predictive_search.terms }}">See all results</a>
                            </div>

                        {%- endif -%}

                    </div>
                </div>
            </predictive-search>

        </div>
    </div>
</div>