{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="{{ 'shop-the-look.js' | asset_url }}"></script>

{% assign section_images = section.settings.image %}

<section class="shop-look" id="{{ section.id }}">
    <div class="shop-look__container">
        <div class="shop-look__wrapper">
            <div class="shop-look__box-image">

                {%- for block in section.blocks -%}
                    <button class="shop-look__spot" data-slide-index="{{ forloop.index0 }}" style="top: {{ block.settings.spot_vertical_position }}%; left: {{ block.settings.spot_horyzontal_position }}%;">
                        <img src="{{ "plus.svg" | asset_url }}" alt="Plus" class="shop-look__spot-img">
                    </button>
                {% endfor %}

                <div class="shop-look__image-wrap">
                    {%- if section_images -%}
                        <picture>
                            <source media="(max-width: 991.98px)" srcset="{{ section_images | image_url: width: 959 }} 1x, {{ section_images | image_url: width: 1918 }} 2x">
                            <img class="shop-look__image" src="{{ section_images | image_url: width: 832  }}" alt="{{ section_images.alt }}">
                        </picture>
                    {%- else -%}
                        <picture>
                            <source media="(max-width: 991.98px)" srcset="{{ 'def.png' | asset_img_url: '959x' }} 1x, {{ 'def.png' | asset_img_url: '1918x' }} 2x">
                            <img class="shop-look__image" src="{{ 'def.png' | asset_img_url: '832x' }}" alt="Image">
                        </picture>
                    {%- endif -%}

                </div>

            </div>
            <div class="shop-look__box-slider">

                {%- if section.settings.heading -%}
                    <h3 class="shop-look__title">{{ section.settings.heading }}</h3>
                {%- endif -%}

                <div class="shop-look__slider swiper js-shop-look-slider">
                    <div class="shop-look__slider-wrapper swiper-wrapper">

                        {%- for block in section.blocks -%}
                            {%- render 'product-card', block_product: block.settings.product -%}
                        {%- endfor -%}

                    </div>
                </div>
                <div class="shop-look__swiper-pagination swiper-pagination"></div>

                <div class="shop-look__swiper-button-prev swiper-button-prev">
                    <img class="shop-look__swiper-button-icon" src="{{ 'arrow-left.svg' | asset_url }}" alt="Arrow">
                </div>
                <div class="shop-look__swiper-button-next swiper-button-next">
                    <img class="shop-look__swiper-button-icon" src="{{ 'arrow-right.svg' | asset_url }}" alt="Arrow">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Shop the look",
      "settings":[
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Shop the look"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "blocks": [
        {
          "name": "Product",
          "type": "product",
          "limit": 3,
          "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Product"
            },
            {
              "type": "range",
              "id": "spot_vertical_position",
              "min": 0,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Spot vertical position",
              "default": 16
            },
            {
              "type": "range",
              "id": "spot_horyzontal_position",
              "min": 0,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Spot horyzontal position",
              "default": 16
            }


          ]
        }
      ],
      "presets": [
        {
          "name": "Shop the look"
        }
      ]
    }
{% endschema %}