{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="{{ 'shop-the-look.js' | asset_url }}"></script>

{% assign indexSlide = 0 %}

<section class="shop-look" id="{{ section.id }}">
    <div class="shop-look__container">
        <div class="shop-look__wrapper">
            <div class="shop-look__box-image">
                {%- for block in section.blocks -%}
                    <button class="shop-look__spot" data-slide-index="{{ indexSlide }}" style="top: {{ block.settings.spot_vertical_position }}%; left: {{ block.settings.spot_horyzontal_position }}%;">
                        <img src="{{ "plus.svg" | asset_url }}" alt="Plus" class="shop-look__spot-img">
                    </button>

                    {% assign indexSlide = indexSlide | plus: 1 %}
                {% endfor %}

                {%- render 'product-card', card-image: section.settings.image -%}
            </div>
            <div class="shop-look__box-slider">
                {%- if section.settings.heading -%}
                    <h3 class="shop-look__title">{{ section.settings.heading }}</h3>
                {%- endif -%}
                <div class="shop-look__slider swiper js-shop-look-slider">
                    <div class="shop-look__slider-wrapper swiper-wrapper">
                        {%- for block in section.blocks -%}
                            {%- assign block_product = block.settings.product -%}

                            <div class="shop-look__slider-item swiper-slide">
                                <div class="shop-look__slide-box-img">
                                    <a href="{{ block_product.url }}" class="shop-look__slide-link">
                                        {%- if block_product.featured_image -%}
                                            <picture>
                                                <source media="(max-width: 991.98px)" srcset="{{ block_product.featured_image | image_url: width: 398 }} 1x, {{ block_product.featured_image | image_url: width: 796 }} 2x">
                                                <img class="shop-look__slide-img" src="{{ block_product.featured_image | image_url: width: 396 }}" alt="{%- if block_product.featured_image.alt -%}{{ block_product.featured_image.alt }}{%- else -%}Image{%- endif -%}">
                                            </picture>
                                        {%- else -%}
                                            <picture>
                                                <source media="(max-width: 991.98px)" srcset="{{ 'def.png' | asset_img_url: width: 398 }} 1x, {{ 'def.png' | asset_img_url: width: 796 }} 2x">
                                                <img class="shop-look__slide-img" src="{{ 'def.png' | asset_img_url: width: 396 }}" alt="Image">
                                            </picture>
                                        {%- endif -%}
                                    </a>
                                </div>
                                <div class="shop-look__slide-description">
                                    <a class="shop-look__slide-name" href="{{ block_product.url }}">{{ block_product.title }}</a>
                                    <div class="shop-look__slide-prices">
                                        {%- if block_product.price -%}
                                            <div class="shop-look__price-new">{{ block_product.price | money }}</div>
                                        {%- endif -%}
                                        {%- if block_product.compare_at_price -%}
                                            <div class="shop-look__price-old">{{ block_product.compare_at_price | money }}</div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
                <div class="shop-look__swiper-pagination swiper-pagination"></div>

                <div class="shop-look__swiper-button-prev swiper-button-prev">
                    <img class="shop-look__swiper-button-icon" src="{{ 'arrow-left.svg' | asset_url }}" alt="Arrow">
                </div>
                <div class="shop-look__swiper-button-next swiper-button-next">
                    <img class="shop-look__swiper-button-icon" src="{{ 'arrow-right.svg' | asset_url }}" alt="Arrow">
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "Shop the look",
      "settings":[
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Shop the look"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "blocks": [
        {
          "name": "Product",
          "type": "product",
          "limit": 3,
          "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Product"
            },
            {
              "type": "range",
              "id": "spot_vertical_position",
              "min": 0,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Spot vertical position",
              "default": 16
            },
            {
              "type": "range",
              "id": "spot_horyzontal_position",
              "min": 0,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "Spot horyzontal position",
              "default": 16
            }


          ]
        }
      ],
      "presets": [
        {
          "name": "Shop the look"
        }
      ]
    }
{% endschema %}